<footer class="bg-white text-gray-600 py-6 mt-12">
  <div class="container mx-auto text-center text-sm">
    <p>
      © 2024 Inventory App. Crafted with passion by
      <a href="https://github.com/ruizterce/" class="hover:text-green-400"
        >@ruizterce</a
      >
    </p>
  </div>
</footer>
