<header class="bg-gray-800 text-white py-4">
  <div class="container mx-auto">
    <nav class="flex justify-between">
      <a href="/" class="text-lg font-bold">Inventory App</a>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-gray-400">Home</a></li>
        <li>
          <a href="/brand/new" class="hover:text-gray-400">Create Brand</a>
        </li>
        <li>
          <a href="/category/new" class="hover:text-gray-400"
            >Create Category</a
          >
        </li>
        <li>
          <a href="/product/new" class="hover:text-gray-400">Create Product</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
