<header class="bg-white text-gray-800 py-4 shadow-lg">
  <div
    class="container mx-auto flex justify-between items-center px-4 sm:px-6 lg:px-8"
  >
    <a
      href="/"
      class="text-2xl font-extrabold tracking-widest uppercase text-green-400"
    >
      Inventory App
    </a>
    <ul class="flex space-x-6 text-sm uppercase font-semibold tracking-widest">
      <li>
        <a href="/" class="hover:text-pink-500 transition duration-200">Home</a>
      </li>
      <li>
        <a
          href="/brand/new"
          class="hover:text-orange-400 transition duration-200"
          >Create Brand</a
        >
      </li>
      <li>
        <a
          href="/category/new"
          class="hover:text-pink-500 transition duration-200"
          >Create Category</a
        >
      </li>
      <li>
        <a
          href="/product/new"
          class="hover:text-orange-400 transition duration-200"
          >Create Product</a
        >
      </li>
    </ul>
  </div>
</header>
