<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory app</title>
  </head>
  <body>
    <h2>Product inventory</h2>
    <% products.map((product)=>{ %>
    <div class="product-id">ID: <%= product.product_id %></div>
    <div class="product-name">NAME: <%= product.name %></div>
    <div class="product-name">QTY: <%= product.quantity_in_stock %></div>
    <%})%>
  </body>
</html>
