<% title = "Update Category"; %>
<form action="/category/<%= category.category_id %>/update" method="POST">
  <input type="text" name="name" value="<%= category.name %>" required />
  <textarea name="desc" id="desc"> <%= category.description %> </textarea>
  <button type="submit">Update</button>
</form>
<a href="/">Back to home</a>
