<% title = "Update Brand"; %>
<form action="/brand/<%= brand.brand_id %>/update" method="POST">
  <input type="text" name="name" value="<%= brand.name %>" required />
  <textarea name="desc" id="desc"> <%= brand.description %> </textarea>
  <button type="submit">Update</button>
</form>
<a href="/">Back to home</a>
